body {
       font-family: 'Lato' !important;
       padding: 0;
       margin: 0;
       overflow-x: hidden;
       clear: both;
       background-color: #f9f9f9;
}
 @font-face {
       font-family: 'Lato-Regular';
       src: url(../assets/fontLato/Lato-Regular.ttf);
}
 @font-face {
       font-family: 'Lato-Regular';
       src: url('(../fontLato/lato-regular-webfont.woff') format('embedded-opentype');
       src: url('../fontLato/Lato-Regular.eot');
       src: url('../fontLato/Lato-Regular.ttf');
       src: url('../fontLato/Lato-Regular.woff');
       font-weight: normal;
       font-style: normal;
}
 @font-face {
       font-family: 'latobold';
       src: url('../fontLato/lato-bold-webfont.woff2') format('woff2'), url('../fontLato/lato-bold-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}
 @font-face {
       font-family: 'latomedium';
       src: url('../fontLato/lato-medium-webfont.woff2') format('woff2'), url('../fontLato/lato-medium-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}
 @font-face {
       font-family: 'latoregular';
       src: url('../fontLato/lato-regular-webfont.woff2') format('woff2'), url('../fontLato/lato-regular-webfont.woff') format('woff');
       font-weight: normal;
       font-style: normal;
}
/*navbar setting*/
 .bell-img-icon {
       background-repeat: no-repeat;
       padding: 4px 14px;
       background-image: url(../img/top-header/bell-icon.svg);
}
 .calender-img-icon {
       background-repeat: no-repeat;
       padding: 4px 14px;
       background-image: url(../img/top-header/calendar.svg);
}
 .search-img-icon {
       background-repeat: no-repeat;
       padding: 4px 14px;
       background-image: url(../img/dashboard/search.svg);
}
 .custom-nav {
       background-color: white;
       border-bottom: 1px solid #d4d4d4;
}
 .pageHeading {
       color: black;
       font-size: 29px;
       font-weight: 600;
}
 .nav-profile-img {
       width: 31px;
       border-radius: 100px;
}
 .h5-style {
       color: #3c6cde;
       display: inline-block;
       line-height: 0;
       vertical-align: middle;
       padding-top: 0.7em;
       padding-left: 8px;
       font-weight: 600;
}
 .link-name span {
       font-size: 14px;
       font-weight: 600;
       vertical-align: middle;
}
 .chevron-size {
       width: 11px;
}
 .profile-pos {
       margin: -2px 0;
       color: #4b4b4b;
}
/*footer*/
 .footer-btm {
       background-color: white;
       position: fixed;
       bottom: 0;
       height: 60px;
       left: 0;
       right: 0;
       text-align: center;
       padding: 2px 0px;
       border: 1px solid #d4d4d4;
       z-index: 9999;
}
 .footer-list-item span {
       font-size: 14px;
       color: black;
}
 .navbar-brand {
       display: inline-block;
       padding-top: 0.3125rem;
       padding-bottom: 0.3125rem;
       margin-right: 1rem;
       font-size: 1.25rem;
       line-height: inherit;
       white-space: nowrap;
}
 .breadcrumb-practice {
       padding-top: 20px;
}
 .breadcrumb-practice .breadcrumb {
       padding: 10px 16px;
       list-style: none;
       background-color: #f9f9f9;
       margin: 0;
}
 .breadcrumb-practice .breadcrumb li {
       display: inline;
       font-size: 16px;
       color: #9b9b9b;
}
 .breadcrumb-practice .breadcrumb li a {
       color: #3c6cde;
}
 .breadcrumb-practice .breadcrumb li a:hover {
       text-decoration: none;
       color: #4b4b4b;
}
 .breadcrumb-practice .breadcrumb li + li:before {
       padding: 2px;
       color: #9b9b9b;
       content: "/\00a0";
}
 .profile-menu {
       border: none;
       box-shadow: 0px 7px 18px 0px #9e9e9e 5e;
       border-radius: 0;
       top: 131%;
      /* left: -148px;
      */
}
 .profile-menu a {
       color: #3c6cde;
       font-size: 13px;
}
 .profile-menu a img {
       padding-right: 12px;
       height: 17px;
}
 .profile-menu a:hover {
       color: #3c6cde !important;
}
 .dropdown-item:hover {
       color: #16181b;
       text-decoration: none;
       background-color: #f8f9fa;
}
 .attech-logo {
       width: 72px;
}
/*dashboard*/
 .pathWay {
       background-color: white;
       position: relative;
       padding: 10px 0;
       border-radius: 8px;
       margin: 10px 0;
}
 .pathWay a:hover {
       text-decoration: none;
}
 .pathWay h3 {
       font-size: 16px;
       color: #3c6cde;
       display: inline-block;
}
 .pathWay p {
       font-size: 12px;
       color: #7c99d6;
       margin-bottom: 0;
}
 .pathWay .arrowPath {
       display: inline-block;
       position: absolute;
       right: 17px;
       top: 20px;
}
 .pathWay .icon-path {
       display: inline-block;
       width: 47px;
       padding: 0 10px;
       vertical-align: top;
}
 .inputGroup {
       background-color: #fff;
       display: block;
       margin: 10px 0;
       border-radius: 8px;
       position: relative;
}
 .inputGroup label {
       padding: 8px 30px;
       width: 100%;
       display: block;
       text-align: left;
       color: #3c454c;
       cursor: pointer;
       position: relative;
       border: 1px solid #d4d4d4;
       border-radius: 8px;
       z-index: 2;
       transition: color 200ms ease-in;
       overflow: hidden;
       padding-left: 5em;
}
 .inputGroup label:before {
       width: 10px;
       height: 10px;
       content: '';
       background-color: #3c6cde;
       position: absolute;
       left: 50%;
       top: 50%;
       -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
       transform: translate(-50%, -50%) scale3d(1, 1, 1);
       transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
       opacity: 0;
       z-index: -1;
}
 .inputGroup label:after {
       width: 25px;
       height: 25px;
       content: '';
       border: 2px solid #d1d7dc;
       background-color: #fff;
       background-repeat: no-repeat;
       background-position: 2px 3px;
       border-radius: 50%;
       z-index: 2;
       position: absolute;
       left: 30px;
       top: 50%;
       -webkit-transform: translateY(-50%);
       transform: translateY(-50%);
       cursor: pointer;
       transition: all 200ms ease-in;
}
 .inputGroup input {
       width: 32px;
       height: 32px;
       order: 1;
       z-index: 2;
       position: absolute;
       left: 30px;
       top: 50%;
       -webkit-transform: translateY(-50%);
       transform: translateY(-50%);
       cursor: pointer;
       visibility: hidden;
}
 .inputGroup input:checked ~ label {
       color: #fff;
}
 .inputGroup input:checked ~ label:before {
       -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
       transform: translate(-50%, -50%) scale3d(56, 56, 1);
       opacity: 1;
}
 .inputGroup input:checked ~ label:after {
       background-color: #54e0c7;
       border-color: #54e0c7;
       border: 8px solid white;
}
 .btn-blue {
       background-color: #3c6cde;
       color: white;
       font-weight: 100;
       font-size: 14px;
       margin-right: 10px;
       width: 100px;
       border-radius: 4px;
}
 .btn-blue:hover {
       background-color: white;
       color: #3c6cde;
       border: 1px solid #3c6cde;
}
 .btn-grey {
       background-color: #f9f9f9;
       color: #3c6cde;
       width: 100px;
       border-radius: 4px;
       font-weight: 100;
       font-size: 14px;
       margin-right: 10px;
       border: 1px solid #3c6cde;
}
 .btn-grey:hover {
       background-color: white;
       color: #3c6cde;
       border: 1px solid #3c6cde;
}
 .quesPath {
       color: black;
       font-size: 25px;
}
 .imgDate {
      /* width: 294px;
       */
       box-sizing: border-box;
       border: none;
       border-radius: 0;
       background-color: #fff;
       background-position: top 10px right 10px;
       background-repeat: no-repeat;
       border: 1px solid #d4d4d4;
       padding-right: 31px;
       padding-top: 6px;
       padding-bottom: 6px;
       padding-left: 8px;
       background-image: url(../img/calendar.svg);
       line-height: 20px;
       height: calc(2.25rem + 2px);
       color: #d4d4d4;
}
 .inner-pg {
       padding: 25px 0 5em 0;
}
 